{% extends 'layout/base.html' %}

{% block body %}
<!-- <h1>Hello World</h1> -->

<!------------------------------ NAVBAR ------------------------------>
{% include 'components/navbar.html' %}

<!------------------------------ HOME ------------------------------>
{% include 'components/home.html' %}

<!------------------------------ INSIGHTS ------------------------------>
{% include 'components/insights.html' %}

<!------------------------------ ABOUT ------------------------------>
{% include 'components/about.html' %}

<!------------------------------ SKILLS ------------------------------>
{% include 'components/skills.html' %}

<!------------------------------ SERVICES ------------------------------>
{% include 'components/services.html' %}

<!------------------------------ HIREME ------------------------------>
{% include 'components/hireme.html' %}

<!------------------------------ PROJECTS ------------------------------>
{% include 'components/projects.html' %}

<!------------------------------ TESTIMONY ------------------------------>
{% include 'components/testimony.html' %}

<!------------------------------ BLOG ------------------------------>
{% include 'components/blog-section.html' %}

<!------------------------------ CONTACT ------------------------------>
{% include 'components/contact.html' %}

<!------------------------------ FOOTER ------------------------------>
{% include 'components/footer.html' %}

{% endblock %}
testimony